handwritten_digits_images.csv
handwritten_digits_labels.csv

/docu/report.aux
/docu/report.fdb_latexmk
/docu/report.fls
/docu/report.log
/docu/report.synctex.gz
/docu/summary.aux
/docu/summary.fdb_latexmk
/docu/summary.fls
/docu/summary.log
/docu/summary.synctex.gz